@import 'var'
@import 'mixins'
@import 'fonts'
@import 'normalize'
@import 'interface'

@import 'header'
@import 'main'





body
  font-family: 'Proxima Nova Light', sans-serif
  color: $text-color

.container
  width: 1170px
  margin: 0 auto

img
  max-width: 100%
  
@import 'media'  

